@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fredoka:wght@300..700&family=Sofadi+One&display=swap');
/* Font families

font-family: "Fredoka", sans-serif;

font-family: "Sofadi One", system-ui;

font-family: "Dancing Script", cursive;

*/


/* General styling */

body {
    overflow-x: hidden;
}

h3 {
    font-size: 2.3rem;
    font-family: "Fredoka", sans-serif;
    text-shadow: 3px 0 3px #FFF;
}

/* Header styling */

header {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    text-align: center;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
}

h2 {
    
    font-family: "Sofadi One", system-ui;
}

.add-btn {
    font-size: 1.3rem;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    padding: .7em;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 0, 82);
    color: #fff;
}


/* board styling */

main::before {
    content: "";
    background-image: url(../images/wp5528871-poop-emoji-phone-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}

/* form styling */
.kudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 10%;
    max-height: 100 wh;
}

.asteriskField {
    display: none;
}
.form-label {
    font-weight: 600;
}

.btn-boo {
    background-color: #8d72cd;
    color: white;
    font-weight: 400;
}

.btn-boo:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: #a18cd1;
}

/* post container */
.image-container {
    max-width: 100%;
    max-height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.card {
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.1);
}

.copy {
    max-width: 20px;
    background-color: black;
    color: #8d72cd;
    text-align: center;
}